*{
    box-sizing:border-box;
    font-family: 'Lato', serif;
    font-size: 1.0rem;
}

.header{
    background-color:#061016;
    padding:30px;
    margin:0;

}

.nav_bar{
    width:100%;
    position:relative;
    top:0;
    left:20%;
}

#logo{
    font-family: serif;
    font-size: 22px;
    float: left;
    color:#F2C94C;
    margin:0;
    font-style: italic;
}
.nav_bar li{
    color:#F2C94C;
    list-style-type: none;
    display:inline;
    padding-left:  20px;
    margin:0;
    align-items: flex-end;
}
.nav_bar a{
    text-decoration: none;
    color:#F2C94C;
    font-size: 20px;
    margin:0;
    position:relative;
    top:0;
}

.purpose_of_page h1{
    text-align: center;
    margin: auto;
    background-color: #004445;
    color:#F6FFFB;
    font-size: 30px;
}

.message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#F6FFFB;
    font-size: 40px;
    font-style: italic;
}
body{
    background-color: #F6FFFB;
    padding:0;
    margin:0;
}
.courses ul{
    margin:auto;
    font-size: 25px;
    padding:0;
    text-align: center;
}
img{
    height: 100%;
    width: 100%;
    /*object-fit: cover;*/
    margin:0;

}


/* Clear floats after the columns */

.module_overview{
    display:grid;
    grid-template-columns: 50% 50%;
    margin: auto;
    width: fit-content;
}
#topics{
    padding: 2vw 0;
    background-color: grey;
    width:398px;

}
.quiz_links{
    padding: 2vw 0;
    background-color: grey;

}

/*styling the footer and it's link*/
.footer_list p{
    float: left;
    font-style: inherit;
    font-size: 1.0rem;
}
.footer_list li{
    float: left;
    display:inline;
    list-style-type: none;
    padding: 0 20px;
}
.footer_list a{
    text-decoration: none;
    color:black;
    font-size: 1.0rem;
    margin:0;
    position:relative;
    top:0;
}
.footer_list{
    padding:40px;
    margin:0;
    background-color: #F2C94C;


}

#footer-list{
    position:relative;
    left:20px;
}

.module_content h1{
    text-align: center;
    background-color:#061016 ;
    color:#F2C94C;
    padding-top:20px;
    margin:0;
}
.module_content h2{
    text-align: center;
    background-color:#F6FFFB;
    color:#F2C94C;
    padding:10px;
    margin:0;

}
#discrete_overview,#python_overview,#database_overview,#mfc_overview{
    background-color: #061016;
    text-align: center;
    color:white;
    font-size: 1.0rem;
    padding:50px;
}

/* styling the form and its contents*/
form{
    background-color: #061016;
    align-content: center;
    padding:15px;
    box-sizing: border-box;
    position: relative;
    margin:0 auto;

}


button,input{

    color: black;
    margin:10px;
    padding:10px;
    font-style: inherit;




}
label,h4{
    color: #F6FFFB;
    margin:15px;
    padding:20px;
    font-style: inherit;
}
textarea{
    vertical-align:top;
    color: black;
    margin:10px;
    padding:10px;
    font-style: inherit;
    box-sizing: inherit;

}

/* styling the quiz link class.

 */
table{
    table-layout: fixed;
    border-collapse: collapse;

    width:50%;
    float:right;
    vertical-align: center;
}
.Ola-classe{
    /*margin: 0 auto;*/
    width:100%;
    display: flex;
    background: #061016;
}
button{
    width: 180px;
    align-self: center;
}
